/*********************
   Styles
 *********************/

/* Custom, iPhone Retina */
@media only screen and (min-width:1px) {
/* General styles */
  .highcharts-legend-item {
    text {
      text-transform: capitalize;
    }
  }

  .highcharts-credits {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/******************************************
       Container buttons charts
*******************************************/
ul.button-chart-list {
  margin-bottom: 15px;
  padding: 0;

  // Button container
  li {
    display: inline-block;
    margin: 0 0 15px 15px;
    width: 94%;

    &:last-child {
      margin-right: 0;
    }

    // Break point large
    @include responsive($breakpoint-large) {
      width: 31%;
    }
  }
}

// Chart container
.chart-container {
  margin-bottom: 15px;
  height: 300px;

  #chartdiv {
    height: 100%;
    width: 100%;
  }
}


